.container {
  border: 1px solid #ddd;
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
  box-sizing: border-box;
}

.title {
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 10px;
}

.details {
  display: flex;
  margin-bottom: 20px;
}

.category, .date {
  font-weight: bold;
  /* width: 80px; */
  padding-right: 10px;
}

.category-value, .date-value {
  flex-grow: 1;
}

/* .text {
  border-top: 1px solid #ddd;
  padding-top: 20px;
} */

.formatted-text {
  margin: 20px;
  padding: 10px;
  border: 1px solid #ddd;
  white-space: pre-line; /* Preserve whitespace and line breaks */
}

